*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background-image: url(images/fabric-background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  background: white;
  font-family: 'poppins', sans-serif;
  width: 100%;
  height: 15vh;
  align-items: center;
}
.intro h3{
  text-align: center;
  color: #141a34;
}
.intro p{
  text-align: center;
}
.container{
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container form {
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}
.input-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.input-group label {
  flex-basis: 28%;
}
.input-group input, .input-group textarea {
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 10x solid #999;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}